body{
    margin: 0;  
    line-height: 1.2; 
}

.start{
    background-color: #222222;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

a{
    color: white;
    border: 1px solid white;
    margin-right: 70px ;
    border-radius: 20px;

}

a:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
    box-shadow: 0 2px 3px white;
}

.barra_navegacao{
    justify-content: center !important;
}

.banner{
    width: 300px;
}

.card{
    box-sizing: border-box;
    height: 490px;
    width: 80%;
    max-width: 21rem;
    border: 5px solid;
    margin: 15px;
    border-image: linear-gradient(45deg, #33d9de 0%, #243f81 90%);
    border-image-slice: 1;
    
}

