@font-face {
    font-family: "font_titulo";
    src: url(../fonts/COCOGOOSELETTERPRESS_TRIAL.ttf);
}

body {
    margin: 0;
    line-height: 1.2;
}

.start {
    background-color: #222222;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    border: 1px solid white;
    margin-right: 70px;
    border-radius: 20px;
}

.nav-link:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
    box-shadow: 0 2px 3px white;
}

.barra_navegacao {
    justify-content: center !important;
}

.banner {
    width: 550px;
}

.div_da_imagem {
    padding: 0;
}

.div_texto {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "font_titulo";
    /* font-size: 10px; */
}

.h1_titulo {
    font-size: 100px;
}

.titulo {
    height: 300px;
    background-image: url("../img/background_white.jpg");
}

.card {
    box-sizing: border-box;
    height: 490px;
    width: 80%;
    max-width: 21rem;
    border: 5px solid;
    margin: 15px;
    border-image: linear-gradient(45deg, #33d9de 0%, #243f81 90%);
    border-image-slice: 1;
}

.linha_dos_cards {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

footer {
    height: 120px;
    background-color: black;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1_rodape {
    font-size: 30px !important;
    color: white;
    display: flex;
    justify-content: center;
}

.contatos {
    font-size: 30px;
    margin: 7px;
}

.img_web {
    height: 156.37px !important;
    width: 194px;
}